@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 640px;
    height: auto;
}

image {
    width: 100%;
    height: auto;
}

body {
    font-family: "Sora", sans-serif;
}

header {
    background-image: url("resources/background-png.png");
    height: 90px;
    background-size: cover;
}

.headlines {
    padding: 30px;
}

h1 {
    color: #6B59D0;
    font-size: 1.5em;
}

main p {
    color: #374151;
    font-size: 2em;
    font-weight: 700;
    padding: 25px 0;
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.container-content {
    border-left: 3px dashed #DEDDEB;
    padding: 25px;
    height: auto;
}

.container-content h3 {
    font-size: 1.4em;
    font-weight: 500;
    padding: 20px 20px 0;
    border-left: 3px solid #6B59D0;
    margin-left: -1.5rem
}

.container-content p {
    font-size: 1.3em;
    font-weight: 400;
}

.purple {
    color: #6B59D0;
    font-weight: 400;

}

@media screen and (min-width: 1024px) {
    main {
        min-width: 1024px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .container>div:first-child {
        grid-column: 1 / span 4;
    }



}